<%= form_with(model: [@category, @task], local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div>
    <div class="py-2 font-medium text-black">
      <%= form.label :title %>
    </div>
    <div>
      <%= form.text_field :title, class: "rounded h-10 w-52 pl-2" %>
    </div>
  </div>

  <div>
    <div class="py-2 font-medium text-black">
      <%= form.label :description %>
    </div>
    <div>
      <%= form.text_area :description, class: "rounded h-36 w-52 p-2" %>
    </div>
  </div>

  <div>
    <div class="py-2 font-medium text-black">
      <%= form.label :date %>
    </div>
    <div>
      <%= form.date_field :date, class: "rounded h-10 w-52 pl-2" %>
    </div>
  </div>

  <div class="flex flex-col items-center justify-center mt-8 mb-4 actions">
    <div class="text-center text-black"><%= form.submit "Create", class: "w-52 h-10 rounded bg-purple-700 btn btn-outline" %></div>
  </div>
<% end %>
 